[Desktop Entry]
Name=Merge to PDF
Version=1.0
Exec=/usr/local/bin/merge-to-pdf
Comment=
Icon=/usr/local/lib/merge-to-pdf.png
Type=Application
Terminal=false
StartupNotify=false
Encoding=UTF-8
Categories=